config/deploy/*
config/database.yml
config/settings.yml
db/*.sqlite3
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/vendor/cache
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
config/deploy.rb
rerun.txt
pickle-email-*.html