<% unless @comments.empty? %>
	<table class="index">
		<th class="name"><%= pluralize(@comments, 'Comment') %></th>
    <% @comments.each do |comment| %>
      <tr>
      	<td class="name">	
      	  <span itemprop="name" class="name"><%= link_to comment.name, comment_path(comment) %></span><br/>
          <br/><%= link_to comment.url, comment.url, :itemprop => "url" %>
      	</td>
				    </td>
	  </tr>
    <% end %>
    <tr>
	    <td class="pagination">
		    <div class="pagination">
			    <%= will_paginate @comments %>
			  </div>
		  </td>
		  <td class="count"></td>
		</tr>
	</table>
  <% else %>
    <h2>No comments found</h2>
  <% end %>