<div class="content">
	<div class="page-header">
    <h2><h2><%= "Works" + (user_signed_in? ? ' by Users you are Following' : "") %></h2></h2>
  </div>
	
  <% unless @works.empty? %>
		<% @works.each do |work| %>
			<div class="row" id="work_<%= work.id %>">
				<%= render :partial => "works/work", :object => work %>
		  </div>
    <% end %>	
		<%= will_paginate @works %>
  <% else %>
    <div class="alert alert-info">
      No works found.
	  </div>
  <% end %>
</div>