<% unless @work.users.empty? %>
  <div class="span1">
  	<% @work.users.each do |user| %>
      <% if @user.nil? or @user.id != user.id %>
		    <%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{user.username}", :class => "photo_works"), user_path(user.username) %>
		  <% else %>
		    &nbsp;
		  <% end %>
		<% end %>
	</div>
	<div class="span8 work">
<% else %>
  <div class="span8 offset1 work">
<% end %>
    <div itemscope itemtype="http://schema.org/ScholarlyArticle">
	    <h4><%= link_to @work.title, work_path(@work.id) %></h4>
		  <div id="comment_<%= @work.id %>">
			  <%= render :partial => "works/comment" %>
	    </div>
    </div>
  </div>