img.photo_mini {
  float: left;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 1em;
  width: 48px; }
  
.tweet {
  padding-top: 6px;
  padding-right: 2.5em;
  padding-bottom: 0;
  font-weight: normal;
  white-space: normal;
  font-size: smaller;
}

.ui-li-aside {
  font-weight: normal;
  font-size: smaller;
  padding-right: 3em;
}

span.name {
  font-weight: bold;
}