<% unless @author.articles.empty? %>
  <% unless active_categories.empty? %>
    <div data-role="collapsible" data-collapsed="false">
	    <h3>Metrics</h3>
      <%= render :partial => 'source'%>
    </div>
  <% end %>
  
  <div data-role="collapsible">
	<h3 class="show">Articles</h3>
  <ul data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter articles..." data-inset="true">
    <% @articles.each do |article| %>
	    <li><a href="<%= article_path(article.short_doi) %>" class="normal">
        <h3><%= article.title %></h3>
        <%= formatted_citation(article, :without_links => true) %>
        </a>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>

<% if @author.has_profile and !@author.articles.empty? %>
	</div>
<% end %>