<table class="profile">
	<tr>
		<td class="photo">
			<div id="photo">
				<% unless @author.image.blank? %>
	        <%= image_tag @author.image, :class => "photo" %>
	      <% end %>
	    </div>
	  </td>
		<td class="twitter">
	    <div id="twitter">
	      <%= render :partial => 'twitter' %>
	    </div>
	  </td>
	  <td class="service">
		  <div id="service">
	      <%= render :partial => 'service' %>
	    </div>
	  </td>
	</tr>
</table>