<% unless (controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?)) and ["mendeley", "mas", "authorclaim", "scopus","googlescholar"].include?(params[:service]) %>
	<div class="service">
	  <%= image_tag "twitter.png", :class => "photo_mini", :title => "Twitter" %><br/>
	  <span class="name"><%= link_to "@#{@author.username}", "http://twitter.com/" + @author.username %></span>
	</div>
<% end %>