<% active_categories.each do |category| %>
	<h3><%= h(category.name) %> <small><%= h(category.author_description) %></small></h3>
	
	<div class="row">
	  <% category.sources.active.each do |source| %>
	    <div class="span4">
			  <%= image_tag source.class.to_s.downcase + ".gif" %>
			</div>
		<% end %>
	</div>
	
	<div class="row">
	  <% category.sources.active.each do |source| %>
	    <div class="span4">
			  <legend><%= @author.citations_count(source) %></legend>
		  </div>
		<% end %>
	</div>
<% end %>