<table class="profile">
	<tr>
		<td class="twitter">
	    <div id="twitter">
	      <h2><%= h(@group.name) %></h2>
	    </div>
	  </td>
	  <td class="group">
			<div id="mendeley">
        <%= image_tag "mendeley.png", :class => "photo_mini" %><br/>
		    <span class="name"><%= link_to @group.mendeley, "http://www.mendeley.com/groups/" + @group.mendeley %></span>
      </div>
	  </td>
	</tr>
</table>