<table>
	<tr>
    <td class="service">
	    <div id="mendeley">
        <%= image_tag "mendeley.gif", :class => "service" %><br/>
		    <span class="service"><%= link_to @group.mendeley, "http://www.mendeley.com/groups/" + @group.mendeley %></span>
      </div>
    </td>
  </tr>
</table>