<div class="content">
	<div class="page-header">
    <h2>Works</h2>
  </div>
	
  <% unless @works.empty? %>
		<% @works.each do |@work| %>
			<div class="row" id="work_<%= @work.id %>">
				<%= render :partial => "works/work" %>
		  </div>
    <% end %>
    <div class="row">
	    <div class="span8 offset1">
		    <%= will_paginate @works, :params => { :controller => :works, :authenticity_token => nil } %>
		  </div>
		</div>
  <% else %>
    <div class="alert alert-info">
      No works found.
	  </div>
  <% end %>
</div>