<div class="row">
		<% if !@user.mas.blank? or current_user == @user or current_user.try(:admin?) %>
		  <% unless (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) and ["mendeley", "authorclaim", "scopus", "googlescholar"].include?(params[:service]) %>
			  <%= render :partial => 'mas' %>
			<% end %>
		<% end %>
	
		<% if !@user.authorclaim.blank? or current_user == @user or current_user.try(:admin?) %>
			<% unless (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) and ["mendeley", "mas", "scopus", "googlescholar"].include?(params[:service]) %>
			  <%= render :partial => 'authorclaim' %>
			<% end %>
		<% end %>

		<% if !@user.mendeley.blank? or current_user == @user or current_user.try(:admin?) %>
			<% unless (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) and ["mas", "authorclaim", "scopus", "googlescholar"].include?(params[:service]) %>
			  <%= render :partial => 'mendeley' %>
			<% end %>
		<% end %>

		<% if !@user.googlescholar.blank? or current_user == @user or current_user.try(:admin?) %>
			<% unless (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) and ["mas", "authorclaim", "scopus", "mendeley"].include?(params[:service]) %>
			  <%= render :partial => 'googlescholar' %>
			<% end %>
		<% end %>
</div>