<% if @book.citations_count > 0 %>
	<% active_categories.each do |category| %>
	  <% unless @book.get_cites_by_category(category.name).empty? %>
	  	<h3><%= h(category.name) %> <small><%= h(category.group_description) %></small></h3>

		  <div class="row">
		    <% category.sources.reusable.each do |source| %>
		      <% if @book.citations_count(source) > 0 %>
		      <div class="span3 source">
					  <%= image_tag source.class.to_s.downcase + ".gif", :class => "source" %>
					</div>
			    <% end %>
			  <% end %>
			</div>
	
			<div class="row">
		    <% category.sources.reusable.each do |source| %>
		      <% if @book.citations_count(source) > 0 %>
		      <div class="span3">
		        <legend><%= @book.citations_count(source) %></legend>
		      </div>
		    <% end %>
		   <% end %>
			</div>
		<% end %>	
	<% end %>
<% else %>
  <div class="alert alert-info">
    No metrics found.
  </div>
<% end %>