set :application, "alm"
set :deploy_to, "/var/www/#{application}"
set :deploy_via, :remote_cache
set :repository_cache, "git_cache"

set :user, ""
set :group, ""
set :repository, "git@github.com:mfenner/plos-alt-metrics.git"

# Change these to point to the servers you wish to deploy to.
role :web, "www.example.org"
role :app, "www.example.org"
role :db,  "www.example.org", :primary => true

# If you aren't using Subversion to manage your source code, specify
# your SCM below:
set :scm, :git
   
set :ruby_vm_type,      :ree        # :ree, :mri
set :web_server_type,   :apache     # :apache, :nginx
set :app_server_type,   :passenger  # :passenger, :mongrel
set :db_server_type,    :mysql      # :mysql, :postgresql, :sqlite

namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end

  task :symlink_config do
    run "#{try_sudo} mkdir -p #{File.join(shared_path,'config')}"
    %w/ database.yml settings.yml/.each do |f|
      run "#{try_sudo} [ -e #{File.join(shared_path,'config',f)} ] || cp #{File.join(release_path,'config',"#{f}.example")} #{File.join(shared_path,'config',f)}"
    end
    run "#{try_sudo} ln -s #{File.join(shared_path,'config')}/* #{File.join(release_path,'config')}"
  end
end

namespace :bundle do
  desc "Check gem dependencies"
  task :install do
    run "cd #{release_path} && bundle install"
  end
end

after "deploy:update_code", "deploy:symlink_config", "bundle:install"