<div class="content">
  <% unless @journals.empty? %>
	<table>
		<thead>
		<th><h2><%= pluralize(@journals.total_entries, 'Journal') %> </h2></th>
		</thead>
		<tbody>
		<% @journals.in_groups_of(2, false) do |journals| %> 
		  <tr>  
		    <% journals.each do |journal| %>  
		    	<td>
			      <% unless journal.nil? %>
							<span><%= link_to journal.title, journal_path(journal.issn_print) %></span><br/>
							<%= journal.issn_print %>
		        <% end %>
	      	</td>
		    <% end %>  
		  </tr>  
	<% end %>
	</tbody>
	</table>
	
	<%= will_paginate @journals %>
  <% else %>
    <h2>No journals found</h2>
  <% end %>
</div>