<div class="content">
  <div class="page-header">
    <h2><%= @journal.title %> <small>ISSN <%= @journal.issn_print %></small></h2>
  </div>

<% unless @journal.articles.empty? %>
  <div id="article">
	  <%= render :partial => 'article'%>
  </div>
<% else %>
  <h3>No articles found</h3>
<% end %>
</div>