<% unless @posts.empty? %>
	<table class="index">
		<th class="name"><%= pluralize(@posts.total_entries, 'Tweet') %></th>
    <% @posts.each do |post| %>
      <tr>
      	<td class="name">	
	        <%= link_to "@#{post.author}", post.author_with_link %><br />
      	  <%= post.body_with_links.html_safe %>
      	</td>
				    </td>
	  </tr>
    <% end %>
    <tr>
	    <td class="pagination">
		    <div class="pagination">
			    <%= will_paginate @posts %>
			  </div>
		  </td>
		  <td class="count"></td>
		</tr>
	</table>
  <% else %>
    <h2>No posts found</h2>
  <% end %>