@import "bootstrap";

body { padding-top: 60px; }
h4 { line-height: normal; }
div.count { font-size: large; text-align: center; padding-bottom: 5px;}
.photo { width: 150px; padding-right: 0.5em; padding-bottom: 2em; margin-top: 0; }
.photo_mini { width: 48px; float: left; padding-right: 1em; padding-bottom: 0.5em; }
.photo_works { width: 48px; float: left; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; }
.photo_nav { height: 21px;}
th.source { width: 24px; }
div#mas, div#mendeley, div#authorclaim, div#scopus, div#googlescholar { padding-top: 0.5em; clear: both; }
div#admin { padding-bottom: 12px; }