<div class="content">
  <div class="page-header">
    <h2>Categories <small>Categories are a way to organize sources.</small></h2>
  </div>

	<ul class="unstyled">
	<% for category in @categories %>
	  <li><h3><%= link_to h(category.name), category %></h3></li>
	<% end %>
	</ul>
</div>